<h1>Editing <%= singular_table_name %></h1>

<%%= render 'form' %>

<%%= link_to 'Show', <%= show_route_name %>_path(@<%= singular_table_name %>) %> |
<%%= link_to 'Back', <%= index_route_name %>_path %>
